@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap');

:root{
    --main-color: #081f5d;
    --color-dark: #1D2231;
    --text-grey: #8390A2;
}

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    list-style-type: none;
    text-decoration: none;
    font-family: 'Poppins', sans-serif;
}

.sidebar{
    width: 345px;
    position: fixed;
    left: 0;
    top: 0;
    height: 100%;
    background: var(--main-color);
    z-index: 100;
}

.main-content{
    margin-left: 345px;
}

.sidebar-brand{
    height: 90px;
    padding: 1rem 0rem 1rem 2rem;
    color: #fff;
}

.sidebar-brand span{
    display: inline-block;
    padding-right: 1rem;
}

.sidebar-menu{
    margin-top: 1rem;
}

.sidebar-menu li{
    width: 100%;
    margin-bottom: 0.5rem;
    padding-left: 2rem;
}

.sidebar-menu ul li a{
    display: block;
    color: #fff;
    font-size: 1.3rem;
    padding-top: 0.7rem;
    padding-bottom: 0.7rem;
    padding-left: 0.5rem;
}

.sidebar-menu a span:first-child{
    font-size: 1rem;
    padding-right: 1rem;
}

.sidebar-menu a.active{
    background: #fff;
    padding-top: 0.7rem;
    padding-bottom: 0.7rem;
    padding-left: 0.5rem;
    color: var(--main-color);
    border-radius: 30px 0px 0px 30px;
}

.sidebar-menu a:hover{
    background: #fff;
    padding-top: 0.7rem;
    padding-bottom: 0.7rem;
    padding-left: 0.5rem;
    color: var(--main-color);
    border-radius: 30px 0px 0px 30px;
}

header{
    display: flex;
    justify-content: space-between;
    padding: 1rem;
    box-shadow: 4px 4px 5px rgba(0,0,0,0.2);
    position: fixed;
    left: 365px;
    width: calc(100% - 365px);
    top:0;
    z-index: 100;
}

header h2{
    color: #222;
}

header label span{
    font-size: 1.7rem;
    padding-right: 1rem;
}

.search-wrapper{
    border: 1px solid #ccc;
    border-radius: 30px;
    height: 50px;
    display: flex;
    align-items: center;
    overflow-x: hidden;
}

.search-wrapper span{
    display: inline-block;
    padding: 0rem 1rem;
    font-size: 1.5rem;
}

.search-wrapper input{
    height: 100%;
    padding: 0.5rem;
    border: none;
    outline: none;
}

.user-wrapper{
    display: flex;
    align-items: center;
}

.user-wrapper img{
    border-radius: 50%;
    margin-right: 1rem;
}

.user-wrapper h4{
    display: inline-block;
    color: var(--text-grey);
}

main{
    margin-top: 80px;
    padding: 2rem 1.5rem;
    background: #f0f5f9;
    min-height: calc(100vh - 90px);
}

.dashbord-cards{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 2rem;
    margin-top: 1rem;
}

.card-single{
    display: flex;
    justify-content: space-between;
    background: #fff;
    padding: 2rem;
    border-radius: 30px;
}

.card-single h1 + span{
    color: var(--text-grey);
}

.card-single span:first-child{
    font-size: 3rem;
    color: var(--main-color);
}

.card-single:last-child{
    background: var(--main-color);
}

.card-single:last-child div:last-child span{
    color: #fff;
}

.card-single:last-child div:first-child span{
    color: #fff;
}

.card-single:last-child div h1{
    color: #fff;
}

.card2{
    background: var(--main-color);
    color: #fff;
}

.card2 div:first-child span{
    color: #fff;
}

table{
    border-collapse: collapse;
}

.recent-grid{
    margin-top: 3.5rem;
    display: grid;
    grid-template-columns: 67% auto;
}

.card{
    background: #fff;
}

.card-header,
.card-body{
    padding: 1rem;
}

.card-body{
    width: 300px;
}

.card-header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid #f0f0f0;
}

.card-header button{
    background: var(--main-color);
    border-radius: 10px;
    color: #fff;
    font-size: 0.8rem;
    padding: 0.5rem 1rem;
    border: 1px solid var(--main-color);
}

thead tr{
    border-top:1px solid #f0f0f0;
    border-bottom:1px solid #f0f0f0;
    padding: 0.5rem 0rem;
}

thead td{
    font-weight: 700;
}

td{
    padding: 0.5rem 1rem;
    font-size: 0.9rem;
    color: #222;
}

.card-body .student{
    display: flex;
}

#nav-toggle{
    display: none;
}
